%a(href="/")
  %h1
    %img(src='/images/clojure-icon.gif')
    Columbus Clojure User Group

.thirds
  #where.third
    %h2
      %img(src='/images/stylistica-icons-set/24x24/map_pin.png')
      Location

    %section
      <p>EdgeCase Columbus<br/>
      1266 Manning Pkwy, Suite B<br/>
      Powell, OH 43065</p>

  #when.third
    %h2
      %img(src='/images/stylistica-icons-set/24x24/calendar.png')
      Next Meeting

    %section
      %p= formatted_date(@next_meeting)

  #speakers.third
    %h2
      %img(src='/images/stylistica-icons-set/24x24/comments.png')
      Speakers

    %section
      %ul
        - @speakers.each do |sp|
          %li
            %strong
              %a(href="http://#{sp['link']}")= sp["name"]
            %br
            = sp["talk"]

.thirds
  #who.third
    %h2
      %img(src='/images/stylistica-icons-set/24x24/help.png')
      Who We Are

    %section
      %p
        We are a group composed of both professionals <em>and</em> students ethusiastic about Clojure. Whether you're new Clojure or you've been hacking for years, we'd love to have you 
        <a href="#join" class="join-link">join us</a>.

  #what.third
    %h2
      %img(src='/images/stylistica-icons-set/24x24/info.png')
      What We Do

    %section
      %p
        The purpose of this group is to provide a community of like-minded individuals where <em>anyone</em> can come and learn something. The format is usually several small lightning talks given by our members, followed by some hacking.
      %p
        Oh, and there's free food and drinks for all!

  #join.third
    %h2
      %img(src='/images/stylistica-icons-set/24x24/link.png')
      Join Us

    %section
      %p
        Join our
        %a(href="#{@mailing_list}" target="_blank") mailing list
        and join in on all the fun.
        %strong OR
        just show up at our
        <a href="#when" class="when-link">next meeting</a>. 
        Meetings are held the first Wednesday of every month.