%h2
  %img(src='/images/stylistica-icons-set/24x24/calendar.png')
  Next Meeting

%section
  #date-block
    - if next_meeting
      %span.weekday
        = formatted_weekday(next_meeting.date)
      %span.month-day
        = formatted_month_day(next_meeting.date)
      %span.time
        = formatted_time(next_meeting.date)
    - else
      %span.tbd TBD
