%h2
  %img(src='/images/stylistica-icons-set/24x24/calendar.png')
  Next Meeting

%section
  %p
    See upcoming meetup information, and RSVP,
    on our
    %a(href="http://www.meetup.com/ColumbusClojure/") Meetup page
