%h2
  %img(src='/images/stylistica-icons-set/24x24/map_pin.png')
  Location

%section
  %a(href="http://maps.google.com/maps?q=1266+Manning+Pkwy+Suite+B,+Powell,+OH+43065&hl=en&sll=40.140172,-83.041019&sspn=0.00803,0.008937&hnear=1266+Manning+Pkwy,+Powell,+Ohio+43065&t=m&z=17" target="_blank")
    <p>Neo Columbus<br/>
    1266 Manning Pkwy, Suite B<br/>
    Powell, OH 43065</p>
