%h2
  %img(src='/images/stylistica-icons-set/24x24/map_pin.png')
  Location

%section
  %a(href="https://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=8760+Orion+Parkway,+1st+Floor&aq=&sll=40.365277,-82.669252&sspn=8.192818,16.907959&vpsrc=0&ie=UTF8&hq=&hnear=8760+Orion+Pl,+Columbus,+Delaware,+Ohio+43240&t=m&z=17&iwloc=A" target="_blank")
    <p>Manta<br/>
    8760 Orion Parkway<br/>
    1st Floor<br/>
    Columbus, OH 43240</p>
