%h2
  %img(src='/images/stylistica-icons-set/24x24/map_pin.png')
  Location

%section
  %a(href="https://www.google.com/maps/place/851+N+Pearl+St,+Columbus,+OH+43215/@39.9797799,-83.0033436,17z/data=!3m1!4b1!4m2!3m1!1s0x88388ed7506c2985:0x599ee7b606c708af" target="_blank")
    <p>LendingHome<br/>
    851 N Pearl St<br/>
    Columbus, OH 43215</p>
